@charset "UTF-8";

body .search-bar input {
    opacity: 20%;
}

body #bighead .navbar a:focus, body #bighead .navbar a:hover {
    background-color: var(--link-hover-background);
    color: var(--link-hover);
 }