- name: Install requirements
  apt:
    name: 
      - cargo
      - feh
      - git-all
      - golang
      - gparted
      - gtk2-engines-murrine 
      - gtk2-engines-pixbuf
      - htop
      - jq
      - keepassxc
      - libjpeg-dev
      - libxml2-dev
      - libxslt1-dev
      - python3
      - python3-pip
      - python3-venv
      - remmina
      - sassc
      - screen
      - terminator
      - tmux
      - vim
      - wireguard
      - zulucrypt-gui
    state: present

- name: set git buffer
  ansible.builtin.shell: git config --global http.postBuffer 1048576000

- name: Create Terminator config directory if it doesn't exist
  become_user: "{{ ansible_user }}"
  file:
    path: "/home/{{ ansible_user }}/.config/terminator/"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: 0755

- name: Copy Terminator config
  become_user: "{{ ansible_user }}"
  copy:
   src: "./files/terminator_config"
   dest: "/home/{{ ansible_user }}/.config/terminator/config"
   owner: "{{ ansible_user }}"
   group: "{{ ansible_user }}"
   mode: 0644

- name: remove old OpenSSL directory
  file:
    state: absent
    path: /usr/lib/python3/dist-packages/OpenSSL

- name: Install - Python modules
  become_user: "{{ ansible_user }}"
  ansible.builtin.pip:
    name: 
      - colorama
      - psutil
      - lxml
      - netaddr
      - pyopenssl
      - rfc5424-logging-handler
    virtualenv: "$HOME/.pyenv/versions/3.9.18"
    virtualenv_command: $HOME/.pyenv/bin/pyenv virtualenv 3.9.18
