[Unit]
    Description=Jupyter notebook
[Service]
    Type=simple
    PIDFile=/var/run/jupyter-notebook.pid
    Environment="PATH=/home/{{ ansible_user }}/.pyenv/plugins/pyenv-virtualenv/shims:/home/{{ ansible_user }}/.pyenv/shims:/home/{{ ansible_user }}/.pyenv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
    ExecStart=/home/{{ ansible_user }}/.pyenv/shims/jupyter notebook --no-browser --notebook-dir={{ playbooksDir }}/JupyterNotebook --ip=127.0.0.1 --NotebookApp.token='' --NotebookApp.password=''
    User={{ ansible_user }}
    Group={{ ansible_user }}
    WorkingDirectory=/home/{{ ansible_user }}
[Install]
    WantedBy=multi-user.target